body{
    margin: 0;
}
#header{
    width: 100%;
    height: 12vh;
    background-color: rgb(64, 64, 92);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header>p{
    font-size: 26px;
}
#contain{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
#contain>li{
    height: auto;
    width: auto;
}
#add-button{
    margin-left: 3%;
}
.temp-margin-left{
    margin-left: 50px;
}
